.footer {
  background-color: #1c1c1c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footer p {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.right a {
  margin: 0 10px;
}

.right a:first-child {
  margin-left: 0;
}

.right a svg {
  color: #ffffff;
  font-size: 25px;
  transition: all 0.3s ease-in-out;
}

.right a:hover svg {
  transform: scale(1.2);
}

.contact {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 20px;
  margin-bottom: 5px;
  color: #ffffff;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
  color: #ffffff;
  background-color: transparent;
}

textarea {
  height: 150px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

@media (max-width: 600px) {
  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 16px;
  }
  
  h1 {
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  .contact {
    margin-left: auto;
    margin-right: auto;
  }
}
