.navbar {
  background-color:  rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.links {
  display: flex;
  justify-content: center;
}

.links a {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  margin: 0 20px;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.links a:hover {
  background-color: #ebebeb;
}

.links a.active {
  background-color: #4c4c4c;
  color: #ffffff;
}

.toggleButton button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

@media only screen and (max-width: 600px) {
  .links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
    width: 100%;
    background-color:  rgba(255, 255, 255, 0.8);;
    z-index: 999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }

  .links.show {
    display: flex;
  }

  .links a {
    margin: 10px 0;
  }
}
.navbar {
  background-color:  rgba(255, 255, 255, 0.8);;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.links {
  display: flex;
  justify-content: center;
}

.links a {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  margin: 0 20px;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.links a:hover {
  background-color: #ebebeb;
}

.links a.active {
  background-color: #4c4c4c;
  color: #ffffff;
}

.toggleButton button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

@media only screen and (max-width: 600px) {
  .links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
    width: 100%;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }

  .links.show {
    display: flex;
  }

  .links a {
    margin: 10px 0;
  }
}


.toggleButton {
  display: none;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .toggleButton {
    display: block;
  }

  #open .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1d3557;
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    transition: all 0.3s ease-in-out;
  }

  #close .links {
    display: none;
  }

  #open .links a {
    margin: 20px 0;
    font-size: 24px;
  }
}
