.projects-container {
  margin: 50px auto;
  max-width: 1200px;
  text-align: center;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.project-item {
  width: 300px;
  margin: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.project-item:hover {
  transform: translateY(-5px);
  transition: all 0.2s ease-in-out;
}

.project-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.project-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-item p {
  font-size: 16px;
  margin-bottom: 10px;
}

.project-item a {
  font-size: 16px;
  color: #0077cc;
  text-decoration: none;
}

.project-item a:hover {
  text-decoration: underline;
}
